<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Manager</title>
</head>
<body>
<div style="background:linear-gradient(to right,#A2007C,#00C5CD); height: 40px" th:fragment="headerProduct">
    <p style="text-align: center">-------------------------------------------HEADER-------------------------------------------</p>
</div>

<div style="background: linear-gradient(to right,#A2007C,#00C5CD); padding-bottom: 100px" th:fragment="footerProduct" >
    <p style="text-align: center">-------------------------------------------FOOTER-------------------------------------------</p>
</div>
</body>
</html>
